Backend4/flows/Email_alert_flow_for_assigned_voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_of_new_Assignment</name>
        <label>Notification of new Assignment</label>
        <locationX>712</locationX>
        <locationY>114</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AssignmentEmail2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AssignmentEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_of_upcoming_Exam</name>
        <label>Reminder of upcoming Exam</label>
        <locationX>539</locationX>
        <locationY>406</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpcomingExamReminder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>reminderemailsubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Request_update_on_attempt</name>
        <label>Request update on attempt</label>
        <locationX>529</locationX>
        <locationY>594</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Requestupdatebody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>reminderheader</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <name>AssignmentEmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You have a new Voucher Assignment</stringValue>
        </value>
    </constants>
    <formulas>
        <name>AssignmentEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associate__r.First_Name__c}</expression>
    </formulas>
    <formulas>
        <name>AssignmentEmail2</name>
        <dataType>String</dataType>
        <expression>&quot;To&quot; &amp; {!$Record.Associate__r.First_Name__c} &amp; {!$Record.Associate__r.Last_Name__c} &amp; &quot;,\nHere is your &quot; &amp; TEXT({!$Record.Certification_Type__c}) &amp; TEXT({!$Record.Voucher_Type__c}) &amp; &quot;Voucher\nYou have until&quot; &amp; TEXT({!$Record.Due_Date__c}) &amp; &quot;to make your first attempt\nVoucher Code:&quot; &amp; {!$Record.Voucher_Code__c}</expression>
    </formulas>
    <formulas>
        <name>reminderemailsubject</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder of upcoming Exam&quot;</expression>
    </formulas>
    <formulas>
        <name>reminderheader</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder to update your Grade&quot;</expression>
    </formulas>
    <formulas>
        <name>Requestupdatebody</name>
        <dataType>String</dataType>
        <expression>&quot;To&quot; &amp; {!$Record.Associate__r.First_Name__c} &amp; {!$Record.Associate__r.Last_Name__c} &amp;
&quot;This is to remind you to update your&quot; &amp; TEXT({!$Record.Certification_Type__c}) &amp; TEXT({!$Record.Voucher_Type__c}) &amp; &quot;current attempt status and grades&quot; &amp;
&quot;if you have rescheduled or failed to take the exam please inform your trainer&quot;</expression>
    </formulas>
    <formulas>
        <name>UpcomingExamReminder</name>
        <dataType>String</dataType>
        <expression>&quot;To&quot; &amp; {!$Record.Associate__r.First_Name__c} &amp; {!$Record.Associate__r.Last_Name__c} &amp; &quot;,\nHere is your &quot; &amp; TEXT({!$Record.Certification_Type__c}) &amp; TEXT({!$Record.Voucher_Type__c}) &amp; &quot;Voucher\nYou have until&quot; &amp; TEXT({!$Record.Due_Date__c}) &amp; &quot;to make your first attempt\nVoucher Code:&quot; &amp; {!$Record.Voucher_Code__c}</expression>
    </formulas>
    <interviewLabel>Email alert flow for assigned voucher {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email alert flow for assigned voucher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Notification_of_new_Assignment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unused</stringValue>
            </value>
        </filters>
        <object>Voucher__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Warning_Email</name>
            <connector>
                <targetReference>Reminder_of_upcoming_Exam</targetReference>
            </connector>
            <label>Warning Email</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Reminder_to_update_score</name>
            <connector>
                <targetReference>Request_update_on_attempt</targetReference>
            </connector>
            <label>Reminder to update score</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
