BasePackage/flows/Notification_of_new_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assignment_Email</name>
        <label>Assignment Email</label>
        <locationX>796</locationX>
        <locationY>177</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AssignmentEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>AssignmentEmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ReminderEmailSubject</name>
        <label>ReminderEmailSubject</label>
        <locationX>681</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ReminderSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Request_Email</name>
        <label>Update Request Email</label>
        <locationX>559</locationX>
        <locationY>573</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>UpdateRequestBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>UpdateEmailHeader</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>AssignmentEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;To&quot; &amp; {!$Record.Associate__r.First_Name__c} &amp; {!$Record.Associate__r.Last_Name__c} &amp; &quot;,\nHere is your &quot; &amp; TEXT({!$Record.Certification_Type__c}) &amp; TEXT({!$Record.Voucher_Type__c}) &amp; &quot;Voucher\nYou have until&quot; &amp; TEXT({!$Record.Due_Date__c}) &amp; &quot;to make your first attempt\nVoucher Code:&quot; &amp; {!$Record.Voucher_Code__c}</expression>
    </formulas>
    <formulas>
        <name>AssignmentEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;You have a new Voucher Assignment&quot;</expression>
    </formulas>
    <formulas>
        <name>ReminderEmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder that you have a&quot; + TEXT({!$Record.Certification_Type__c}) + TEXT({!$Record.Voucher_Type__c}) + &quot;Exam due tomorrow&quot;</expression>
    </formulas>
    <formulas>
        <name>ReminderSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Reminder of upcoming exam&quot;</expression>
    </formulas>
    <formulas>
        <name>UpdateEmailHeader</name>
        <dataType>String</dataType>
        <expression>&quot;Update your exam scores&quot;</expression>
    </formulas>
    <formulas>
        <name>UpdateRequestBody</name>
        <dataType>String</dataType>
        <expression>&quot;To&quot; &amp; {!$Record.Associate__r.First_Name__c} &amp; {!$Record.Associate__r.Last_Name__c} &amp;
&quot;This is to remind you to update your&quot; &amp; TEXT({!$Record.Certification_Type__c}) &amp; TEXT({!$Record.Voucher_Type__c}) &amp; &quot;current attempt status and grades&quot; &amp;
&quot;if you have rescheduled or failed to take the exam please inform your trainer&quot;</expression>
    </formulas>
    <interviewLabel>Notification of new Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification of new Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assignment_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Associate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Voucher__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Upcoming_warning</name>
            <connector>
                <targetReference>ReminderEmailSubject</targetReference>
            </connector>
            <label>Upcoming warning</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Score</name>
            <connector>
                <targetReference>Update_Request_Email</targetReference>
            </connector>
            <label>Update Score</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
